.account-name{
    height: 20px;
    line-height: 16px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    color: #f08216;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row{
    display: flex;
    flex-flow: row;
}
.column {
    display: flex;
    flex-flow: column;
}

.popup-container {
    width: 183px;
    height: 40px;
    position: relative;
    margin-left: 710px;
    justify-content: center;
}

.header{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 3;
    top: 0;
    }